/*********************************************************/
/* ------------------------ FONT ----------------------- */
/*********************************************************/

@font-face {
    /* Equity A text - regular */
    font-family: 'billiefont';
    src: url("../fonts/font.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    /* Equity A text - regular */
    font-family: 'billiefont2';
    src: url("../fonts/billiefont2.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}






/**********************************************************/
/* ------------------- CSS REMEDY ----------------------- */
/*********************************************************/


*,
*::after,
*::before {
    box-sizing: border-box;
}

*:focus-visible,
*::after,
*::before {
    border: 2px solid white;
}

html {
    scroll-behavior: smooth;
}






/*********************************************************/
/* ----------------- CUSTOM PROPERTIES ----------------- */
/*********************************************************/

:root {
    /* --------------------------LIGHT/DARK MODE------------------------------ */
    color-scheme: light dark;

    --accent-color: var(--color-theme);
    /* ----------------------------------------------------------------------- */

    --color-text: #10a4ec;
    --color-background: #083659;

    --general-color: black;
    --header-gradient: linear-gradient(transparent, transparent);
    --menu-gradient: linear-gradient(black, black);
    /* --button-color:#fff; */
    --button-background: transparent;

    /* --------shop buttons------- */
    --color-shop: black;
    --color-shop-button: #10a4ec;

    --color-border: #027399;
    --whiteSpace: 1em;

}




/*********************************************************/
/* ------------------------ BODY ----------------------- */
/*********************************************************/

body {
    color: var(--color-text);
    background-color: var(--color-background);
    text-transform: uppercase;
    font-family: 'billiefont';
    margin: 0;
}

main{
    margin-top: 4.5rem;
}


/* ----------- ADD TO CHART BUTTON --------------- */

main section > a {
    text-align: center;
    margin: 0 1.5em;
    color: var(--color-shop);
    background-color: var(--color-shop-button);
    padding: .5em;
    text-decoration: none;
    border-radius: 10px;
}

main section > a:hover {
    color: var(--color-shop-button);
    border: 1px solid var(--color-shop-button);
    background-color: #083658;
}





/* -------------- IMAGES --------------- */

main section{
    display: flex;
    flex-direction: column;
    gap: .5em;
}

main section > ul:nth-of-type(1){
    order: -1;
    display: flex;
    overflow-x: auto;
    padding: 0;
    list-style: none;

}
 main section ul:nth-of-type(1) li img {
    min-width: 100vw;
    height: 30em;
    object-fit: cover;
    display: flex;

}
main section > ul:nth-of-type(2){
    order: -1;
    display: flex;
    overflow-x: auto;
    padding: 0;
    list-style: none;
    width: 75vw;
}

main section ul:nth-of-type(2) li img {
    max-width: 20vw;
    height: 20vw;
}




/* --------------- TEXT --------------- */

main section h2 {
    font-size: 1em;
    margin: 0 1.5em;
}

main section p {
    font-size: 1em;
    font-family: 'billiefont2';
    margin: 0 1.5em;
} 
main section label{
    font-size: 1em;
    font-family: 'billiefont2';
    margin: 0 1.5em;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

main section label input{
    width: 3em;
    background: none;
    border:none;
    margin: .5em 0;
}
main section small{
    font-size: .75em;
    font-family: 'billiefont2';
    margin: 0 1.75em;
}

main section p:last-of-type{
    text-transform: capitalize;
    font-size: .9;
}









