/*********************************************************/
/* ------------------------ FONT ----------------------- */
/*********************************************************/

@font-face {
  /* Equity A text - regular */
  font-family: 'billiefont';
  src: url("../fonts/font.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}





/**********************************************************/
/* ------------------- CSS REMEDY ----------------------- */
/*********************************************************/

*, *::after, *::before {
  box-sizing: border-box;  
}






/*********************************************************/
/* ----------------- CUSTOM PROPERTIES ----------------- */
/*********************************************************/

:root {
  /* --------------------------LIGHT/DARK MODE------------------------------ */
  color-scheme:light dark;

  --accent-color:var(--color-theme);
  /* ----------------------------------------------------------------------- */

	--color-text: #10a4ec;
	--color-background:#083659;

	--general-color: black;
	--header-gradient: linear-gradient(transparent, transparent);
	--menu-gradient: linear-gradient(black, black);
	/* --button-color:#fff; */
	--button-background: transparent;

  /* --------shop buttons------- */
  --color-shop: black;
  --color-shop-button: #10a4ec;

  --color-border:#027399;
  --whiteSpace: 1em;

}





/*********************************************************/
/* ---------------------- HEADER ----------------------- */
/*********************************************************/

header {
  min-height: 4em;
  padding: 0 1em;
  line-height: 1;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  z-index: 10;
  background: transparent; /* transparent background to show the video */
  color: white;

  top: 0;
  left: 0;
  right: 0;

}

header a {
  padding: 0.5em 0;
  color: var(--color-text);
  text-decoration: none;
}

header > a:first-of-type {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-gap: 0.25em;
  align-items: center;
}

header > a:first-of-type img {
  height: 3em;
}

header button {
  padding: 0.5em;
  display: flex;
  align-items: center;
  gap: 0.25em;
  
  appearance: none;
  background-color: var(--button-background);
  border: none;
  border-radius: 0.25em; 

  margin-bottom: 0.5em;
  /* font:inherit; */
  /* text-align:center; */
  /* color:var(--button-color); */
}

header button img {
  height: 2em;
}

header > button {
  order: -1;
}

/* header > a:last-of-type {
  display: flex;
  align-items: center;
  column-gap: 0.25em;
} */

/* link icon */
header > a:last-of-type img {
  width: auto;
  height: 2em;
}

nav button {
 justify-self: start;
}

nav {
  padding: 1em;
  
  display: grid;
  align-content: start;
  gap: 1em;
  
  background-image: var(--menu-gradient);
  
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
/*   inset:0; */

  translate:-100%;
  transition:1s;
  
}

/* als menu open is */
nav.toonMenu {
  translate: 0;
}

nav ul { 
  margin: 0; 
  padding: 0;
  list-style: none;
}

nav a {
  display: flex;
}

#logo {
  width: 100.66px;
  height: 40.93px;
}



/*********************************************************/
/* ------------------------ BODY ----------------------- */
/*********************************************************/

body {
	color: var(--color-text);
	background-color: var(--color-background);
	/* background-image: url("background.jpg"); */
	text-transform: uppercase;
	font-family: 'billiefont';
  margin: 0;
}

main img, main article img {
    width: 100%;
    height: auto;
  }

main section:nth-of-type() a {
  color: var(--color-shop);
  background-color: var( --color-shop-button);

  margin: 0;
  padding: 0.5em;

  text-decoration: none;

  position: absolute;
  left: 1em;
  right: 1em;
  text-align: center;
  
}

main section h2 {
  padding-top: 1em;
  padding-left: 1em;
}





/*********************************************************/
/* ------------------------ FORM ----------------------- */
/*********************************************************/

.active {
	font-weight:700;
	text-decoration:none;
	
	cursor:default;
}

form > a {
	display:block;
}

p:nth-of-type(1) {
	font-weight:700;
}


a:hover,
a:focus {
	text-decoration-thickness:.12em;
	text-underline-offset: 0.25em;
	outline:none;
}

header a:hover,
header a:focus {
	text-decoration-style:double;
}

input:focus {
	border-color: var(--color-shop-button);
}

input:checked {
	accent-color:var(--color-shop-button);
}


input[type="password"] {
  color: var(--color-shop-button);
}

a[href$="pdf"]::after {
	content:" (pdf)";
}

a[href^="mail"]::after {
	content:" (mail)";
}


form {
	width: 100%;
  padding: 1em;
}

label {
	display:block; 
}

input {
	border-style:solid;
	border-width:1px;
	border-color:var(--color-border);
	
	font:inherit;
	color:inherit;
}

input[type="text"], 
input[type="password"] {
	width:100%;
	margin-bottom:var(--whiteSpace);
	appearance:none;
	background-color:var(--color-background);
	outline:none;
}

#login {
  color: var(--color-shop);
  background-color: var( --color-shop-button);

  margin: 0;
  padding: .5em;

  text-decoration: none;
}





/*********************************************************/
/* ---------------------- CURSOR ----------------------- */
/*********************************************************/

@keyframes bubbel-ani {
  to {
    translate:0 -40vw;
    opacity: 0;
  }
}

.cursor-trail {
  position: absolute;
  pointer-events: none;
  width: 10px; /* Adjust the size of the trail */
  height: 10px;
  opacity: 0.5;

  animation: bubbel-ani 1.5s ease-out forwards;
}





/*********************************************************/
/* ------------------- BACKGROUND VIDEO ---------------- */
/*********************************************************/

main section:nth-of-type(1) video {
  width: 100%;
  height: auto;
  left: 0;
  z-index: -1; /* Behind all content */
  object-fit: cover;
}

main section:nth-of-type(2) video {
  width: 100%;
  height: auto;
  left: 0;
  z-index: -1; /* Behind all content */
  object-fit: cover;
}





/*********************************************************/
/* --------------------- CAROUSSEL --------------------- */
/*********************************************************/

/* ---------------------- MERCH ------------------------*/

section:nth-of-type(2) img {
  width: 10em;
}
 
section:nth-of-type(2) ul {
  overflow: auto;
  white-space: nowrap;
  margin: 1em;
  scrollbar-width: none;
}
 
section:nth-of-type(2) ul li {
  display: inline-block;
  padding: 0;
  /* padding-left: 0.5em; */
}
 
section:nth-of-type(2) ul li p {
  padding: 0.2em;
 
}

section:nth-of-type(3) ul li h3 {
  padding: 0.2em;

}


/* ---------------------- MUSIC ------------------------*/

section:nth-of-type(3) img {
  width: 10em;
}
 
section:nth-of-type(3) ul {
  overflow: auto;
  white-space: nowrap;
  margin: 1em;
  scrollbar-width: none;
}
 
section:nth-of-type(3) ul li {
  display: inline-block;
  padding: 0;
  padding-left: 0.5em;
 
}
 
section:nth-of-type(3) ul li p {
  padding: 0.2em;
 
}


/* ---------------------- BLOSH ------------------------*/

section:nth-of-type(4) img {
  width: 10em;
}
 
section:nth-of-type(4) ul {
  overflow: auto;
  white-space: nowrap;
  margin: 1em;
  scrollbar-width: none;
}
 
section:nth-of-type(4) ul li {
  display: inline-block;
  padding: 0;
  padding-left: 0.5em;
 
}
 
section:nth-of-type(4) ul li p {
  padding: 0.2em;
 
}