/*********************************************************/
/* ------------------------ FONT ----------------------- */
/*********************************************************/










/**********************************************************/
/* ------------------- CSS REMEDY ----------------------- */
/*********************************************************/

*,
*::after,
*::before {
  box-sizing: border-box;
}

*:focus-visible,
*::after,
*::before {
  border: 2px solid white;
}

html {
  scroll-behavior: smooth;
}




/*********************************************************/
/* ----------------- CUSTOM PROPERTIES ----------------- */
/*********************************************************/







/*********************************************************/
/* ------------------------ BODY ----------------------- */
/*********************************************************/

body {
  color: var(--color-text);
  background-color: var(--color-background);
  text-transform: uppercase;
  font-family: 'billiefont';
  margin: 0;
  background-image: linear-gradient(#083658, #083658, #083658, #083658, #083659, #083659, #083659, #081c3c, #081c3c, #080c14, black, black);
}

main section h2 {
  padding-top: 5em;
  padding-left: 1.5em;
  padding-bottom: .5em;
}

h5 {
  color: var(--color-border);
  font-size: 4em;
  text-align: center;
  display: flex;
}

section:nth-of-type(8) img {
  width: 100%;
  padding: 10%;
  position: relative;
  text-align: center;
}

section:nth-of-type(8) h3 {
  color: var(--color-tour);
  font-size: 30px;

  position: absolute;
  top: 550%;
  left: 50%;
  transform: translate(-40%, -40%);
}



/*********************************************************/
/* --------------------- CAROUSSEL --------------------- */
/*********************************************************/

/* ---------------------- MERCH ------------------------*/

/* ----------- MERCH TEXT -------------*/

section:nth-of-type(2) ul {
  overflow-x: scroll;
  overflow-y: visible;
  position: relative;
  scrollbar-width: none;
  display: flex;
  list-style-type: none;
  gap: 1.5em;
  margin: 0 1.5em;
  padding: 0;


}

section:nth-of-type(2) ul li {
  position: relative;
}

section:nth-of-type(2) ul li a {
  width: calc(50vw - 3em);
  display: flex;
  flex-direction: column;
  position: relative;
}

section:nth-of-type(2) ul li div a:nth-of-type(1) {
  left: 0;
}

section:nth-of-type(2) ul li div a:nth-of-type(2) {
  right: -1em;
}

section:nth-of-type(2) ul li h3 {
  font-size: 1em;
  margin-top: 16em;
}

section:nth-of-type(2) ul li p {
  font-size: 1em;
  font-family: 'billiefont2';
}


/* ----------- MERCH IMAGES -------------*/

section:nth-of-type(2) img {
  width: 100%;
  height: 15em;
  object-fit: cover;
  position: absolute;
  transition: 1s ease-out;

}

section:nth-of-type(2) img:nth-of-type(2) {
  opacity: 0;
  transition: 1s ease-out;
}

/* geneste code voor de hover */
section:nth-of-type(2) ul li:hover img:nth-of-type(1) {
  opacity: 0;
  transition: .3s;
}

section:nth-of-type(2) ul li:hover img:nth-of-type(2) {
  opacity: 1;
  transition: .3s;
}


/* ----------- MERCH RADIOS -------------*/

section:nth-of-type(2)>div {
  display: flex;
  margin: 1em 0;
  width: 100%;
  justify-content: center;
}


section:nth-of-type(2)>div label input {
  cursor: pointer;
}

/* ----------- MERCH SCROLL ANIMATION -------------*/


section:nth-of-type(2):has(div label:nth-of-type(2) input:checked) ul li {
  transform: translateX(calc(-200% - 3em));
}

section:nth-of-type(2):has(div label:nth-of-type(3) input:checked) ul li {
  transform: translateX(calc(-400% - 6em));
}

/* ----------- MERCH BUTTON -------------*/

section:nth-of-type(2)>a {
  position: absolute;
  left: 6em;
  right: 6em;
  text-align: center;

  color: var(--color-shop);
  background-color: var(--color-shop-button);
  padding: .5em;
  text-decoration: none;
  border-radius: 10px;
}

section:nth-of-type(2)>a:hover {
  color: var(--color-shop-button);
  border: 1px solid var(--color-shop-button);
  background-color: var(--color-background);
}

/* ---------------------- MUSIC ------------------------*/

/* ----------- MUSIC TEXT -------------*/

section:nth-of-type(3) ul {
  overflow: auto;
  scrollbar-width: none;
  display: flex;
  list-style-type: none;
  gap: 1.5em;
}

section:nth-of-type(3) ul li a {
  color: var(--color-shop-button);
  text-decoration: none;

  width: 15em;
  display: flex;
  flex-direction: column;
  position: relative;
}

section:nth-of-type(3) ul li h3 {
  font-size: 1em;
  margin-top: 16em;
}

section:nth-of-type(3) ul li p {
  font-size: 1em;
  font-family: 'billiefont2';
}


/* ----------- MUSIC IMAGES -------------*/

section:nth-of-type(3) img {
  width: 100%;
  height: 15em;
  object-fit: cover;
  position: absolute;
  transition: 1s ease-out;

}

section:nth-of-type(3) img:nth-of-type(2) {
  opacity: 0;
  transition: 1s ease-out;
}

/* geneste code voor de hover */
section:nth-of-type(3) ul li:hover img:nth-of-type(1) {
  opacity: 0;
  transition: .3s;
}

section:nth-of-type(3) ul li:hover img:nth-of-type(2) {
  opacity: 1;
  transition: .3s;
}

/* ----------- MUSIC RADIOS -------------*/

section:nth-of-type(3)>div {
  display: flex;
  margin: 1em 0;
  width: 100%;
  justify-content: center;
}


section:nth-of-type(2)>div label input {
  cursor: pointer;
}

/* ----------- MUSIC SCROLL ANIMATION -------------*/


section:nth-of-type(3):has(div label:nth-of-type(2) input:checked) ul li {
  transform: translateX(calc(-200% - 3em));
}

section:nth-of-type(3):has(div label:nth-of-type(3) input:checked) ul li {
  transform: translateX(calc(-400% - 6em));
}

/* ----------- MUSIC BUTTON -------------*/

section:nth-of-type(3)>a {
  position: absolute;
  left: 6em;
  right: 6em;
  text-align: center;

  color: var(--color-shop);
  background-color: var(--color-shop-button);
  padding: .5em;
  text-decoration: none;
  border-radius: 10px;
}

section:nth-of-type(3)>a:hover {
  color: var(--color-shop-button);
  border: 1px solid var(--color-shop-button);
  background-color: var(--color-background);
}




/* ---------------------- BLOHSH ------------------------*/

/* ----------- BLOHSH TEXT -------------*/

section:nth-of-type(4) ul {
  overflow: auto;
  scrollbar-width: none;
  display: flex;
  list-style-type: none;
  gap: 1.5em;
}

section:nth-of-type(4) ul li a {
  width: 15em;
  display: flex;
  flex-direction: column;
  position: relative;
  text-decoration: none;
  color: currentColor;
}

section:nth-of-type(4) ul li h3 {
  font-size: 1em;
  margin-top: 16em;
}

section:nth-of-type(4) ul li p {
  font-size: 1em;
  font-family: 'billiefont2';
}


/* ----------- BLOHSH IMAGES -------------*/

section:nth-of-type(4) img {
  width: 100%;
  height: 15em;
  object-fit: cover;
  position: absolute;
  transition: 1s ease-out;
}

section:nth-of-type(4) img:nth-of-type(2) {
  opacity: 0;
  transition: 1s ease-out;
}

/* geneste code voor de hover */
section:nth-of-type(4) ul li:hover img:nth-of-type(1) {
  opacity: 0;
  transition: .3s;
}

section:nth-of-type(4) ul li:hover img:nth-of-type(2) {
  opacity: 1;
  transition: .3s;
}

/* -----------  BLOHSH RADIOS -------------*/

section:nth-of-type(4)>div {
  display: flex;
  margin: 1em 0;
  width: 100%;
  justify-content: center;
}


section:nth-of-type(2)>div label input {
  cursor: pointer;
}

/* ----------- BLOHSH SCROLL ANIMATION -------------*/


section:nth-of-type(4):has(div label:nth-of-type(2) input:checked) ul li {
  transform: translateX(calc(-200% - 3em));
}

section:nth-of-type(4):has(div label:nth-of-type(3) input:checked) ul li {
  transform: translateX(calc(-400% - 6em));
}


/* ---------- BLOHSH BUTTON -------------*/

section:nth-of-type(4)>a {
  position: absolute;
  left: 6em;
  right: 6em;
  text-align: center;

  color: var(--color-shop);
  background-color: var(--color-shop-button);
  padding: .5em;
  text-decoration: none;
  border-radius: 10px;
}

section:nth-of-type(4)>a:hover {
  color: var(--color-shop-button);
  border: 1px solid var(--color-shop-button);
  background-color: #083658;
}



/*********************************************************/
/* ------------------------ FORM ----------------------- */
/*********************************************************/

/* --------------------- FORM STYLING ------------------------*/

input:checked {
  accent-color: var(--color-shop-button);
}

form {
  width: 100%;
  padding-left: 3em;
  padding-right: 3em;
  font-family: 'billiefont2';
}

label {
  display: block;
}

input {
  border-style: solid;
  border-width: 2px;
  border-color: var(--color-border);
  border-radius: 10px;
  font: inherit;
  color: inherit;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  margin-bottom: var(--whiteSpace);
  appearance: none;
  background-color: var(--color-background);
  outline: none;
}

/* --------------------- FORM TEXT ------------------------*/

section:nth-of-type(5) h4 {
  padding-top: 10em;
  text-align: center;
  display: flex;
}

section:nth-of-type(6) {
  display: flex;
  justify-content: center;
  padding-top: 1em;
}

section:nth-of-type(6) a {
  color: var(--color-shop);
  background-color: var(--color-shop-button);
  padding: .5em;
  text-decoration: none;
  border-radius: 10px;
}

section:nth-of-type(6) a:hover {
  color: var(--color-shop-button);
  border: 1px solid var(--color-shop-button);
  background-color: #081c3c;
}





/*********************************************************/
/* ----------------------- FOOTER ---------------------- */
/*********************************************************/

footer ul {
  padding: 0;
  margin: 0;
}

footer ul li {
  font-family: 'billiefont2';
  font-size: 15px;

  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;

  display: block;
  margin: 10px 0;

}

footer p {
  font-family: 'billiefont2';
  font-size: 10px;
  text-transform: none;

  display: block;
  text-align: center;

  padding: 3em;
  margin: 10px 0;

}

footer section {
  display: flex;
  justify-content: center;
  gap: 1.5em;
  padding-top: 2em;
  padding-bottom: 1em;
}

footer a svg {
  color: var(--color-shop-button);
  height: 1.2em;
}





/*********************************************************/
/* ------------------- BACKGROUND VIDEO ---------------- */
/*********************************************************/

main section:nth-of-type(1) video {
  width: 100%;
  height: auto;
  left: 0;
  z-index: -1;
  object-fit: cover;
}

main section:nth-of-type(7) video {
  width: 100%;
  height: auto;
  left: 0;
  z-index: -1;
  object-fit: cover;
  padding-top: 10em;
}