/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:blue;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
  background-image: url("background.jpg");
}
